:root {
  --color01: rgb(255, 38, 0);
}

ul,
a,
a:hover,
a:link {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* .navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 12vw;
  font-family: "Bebas Neue", cursive;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
} */
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2vw;
  font-family: "Bebas Neue", cursive;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  left: 0;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* z-index: 100; */
  background-color: rgba(0, 0, 0, 0.69);
  
  color: aliceblue;
  z-index: 10;
}
.navbar-ul {
  display: flex;
  gap: 5vw;
  font-size: 32px;
}

.navbar-ul-item:hover {
  cursor: pointer;
  /* text-shadow: 5px 1px rgb(61, 61, 255); */
  animation: menu-item-anim linear 1s infinite;
}
.navbar-socials-item:hover {
  cursor: pointer;
  animation: socials-item-anim 1s;
}
.cv-link > a {
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 200;
}

.socials-ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
@keyframes socials-item-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu-item-anim {
  0% {
    /* text-shadow: -5px -2px rgb(132, 132, 132); */
  }
  15% {
    text-shadow: -5px 0px var(--color01);
  }
  25% {
    text-shadow: -5px 0px var(--color01);
  }

  30% {
    text-shadow: -5px 0px var(--color01);
  }

  25% {
    /* text-shadow: 0px 0px 0px var(--color01); */
  }
  100% {
    /* text-shadow: 0px 0px var(--color01); */
  }
}
