ul,
a,
a:hover,
a:link {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 12vw;
  font-family: "Bebas Neue", cursive;
  /* font-family: "Belgrano", serif;
  font-family: "Roboto Mono", monospace; */
}

.navbar-ul {
  display: flex;
  gap: 5vw;
  font-size: 32px;
}

.navbar-ul-item:hover {
  cursor: pointer;
  /* text-shadow: 5px 1px rgb(61, 61, 255); */
  animation: menu-item-anim linear 1s infinite;
}
.navbar-socials-item:hover {
  cursor: pointer;
  animation: socials-item-anim 1s;

}
.socials-ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}
@keyframes socials-item-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu-item-anim {
  0% {
    /* text-shadow: -5px -2px rgb(132, 132, 132); */
  }
  10% {
    text-shadow: 0px 5px rgb(216, 216, 216);
  }
  15% {
    text-shadow: 5px 5px rgb(216, 216, 216);
  }

  20% {
    text-shadow: 5px 0px rgb(216, 216, 216);
  }

  25% {
    text-shadow: 0px 0px 0px rgb(216, 216, 216);
  }
  100% {
    text-shadow: 0px 0px rgb(216, 216, 216);

  }
}
