.projects-wrapper {
  display: flex;
  flex-direction: column;
  padding: 6rem 4rem;
  background-color: rgb(11, 11, 11);
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Belgrano", serif;
  font-family: "Roboto Mono", monospace;
  background-image: url(../images/valery-sysoev-C3vDZehYiS0-unsplash.jpg);
  /* background-position: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-grid-wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  /* align-items: center; */
  justify-content: center;
  gap: 4vh;
}

.grid-box-image-container > a > img {
  height: 250px;
  width: 450px;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects-grid-box {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.735);
  border-radius: 10px;
  padding: 1rem 1rem;
  gap: 2vh;
  /* align-items: center; */
  /* box-shadow: 0px 0px 5px 0px rgba(225, 225, 225, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgb(156, 57, 57);
  -moz-box-shadow: 0px 0px 20px 0px rgb(156, 57, 57); */
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.grid-box-project-title {
  font-size: 28px;
  font-weight: 500;
  width: 100%;
}

.grid-box-project-description {
  font-size: 18px;
}

.grid-box-text-container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  margin: 0;
  padding: 0;
  min-width: 10rem;
  width: 450px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.grid-box-project-tech-list {
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px;
}

.grid-box-project-tech-item {
  color: white;
  padding: 0.3rem;
  background-color: rgb(29, 30, 30);
  border-radius: 10px;
}

.grid-box-project-links {
  display: flex;
  gap: 2rem;
  color: black;
  align-items: center;
  justify-content: center;
}

.grid-box-project-url {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

h1 {
  padding: 0;
  margin: 0;
  width: 100%;
}
.grid-box-image-container {
  float: center;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;

}
.hover-effect {
  /* box-shadow: 0px 0px 5px 0px rgba(225, 225, 225, 0.75);
  -webkit-box-shadow: 0px 0px 100px 0px rgba(225, 225, 225, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(225, 225, 225, 0.75); */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  /* padding: 1rem; */
  background-color: #fd0404a9;
  color: white;
  position: absolute;
  left: -50%;
}

.hover-effect ~ a > img {
  border-left: 5px solid #ff0000;
  border-radius: 10px;
  z-index: 2;
}
.hover-effect::after {
  background-color: #ff0808;
  position: absolute;
  width: 101px;
  height: 2px;
  content: '';
  right: -100%;
  z-index: -1;
}

.grid-box-project-links > a:hover >span {
  transition: 0.2s linear;
  background-color: rgb(226, 58, 58);
}

@media (width < 1300px) {
  .hover-effect {
    left: 33%;
    /* right: 100%; */
    top: -35%;
    border-radius: 20px;
  }
  .hover-effect::after {
    /* display: none; */
    width: 2px;
    height: 20px;
    left: 50%;
    /* bottom: 20%; */
    top: 100%;
  }
  .hover-effect ~ a > img {
    border-left: 0px solid #ff0000;
    border-radius: 10px;
    border-right: 0px;
    z-index: 2;
  }
  .projects-grid-box { 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .grid-box-text-container {
    min-width: 10rem;
    width: auto;
    max-width: 350px;
    justify-content: center;
    gap: 1rem;
    height: 100%;
  }
  .projects-grid-wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    /* align-items: center; */
    justify-content: center;
    gap: 4vh;
  }
}

@media (width < 530px) {
  .grid-box-text-container {
    min-width: 5rem;
    width: auto;
    max-width: 250px;
  }
  .grid-box-image-container > a > img {
    height: 200px;
    width: 300px;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .grid-box-project-title {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
  }
  
  .grid-box-project-description {
    font-size: 16px;
  }
  .grid-box-project-links {
    gap: 1rem;
  }
  
  .grid-box-project-url {
    padding: 0rem 0.5rem;
    font-size: 14px;
  }
  .grid-box-project-tech-item {
    padding: 0rem 0.5rem;
    font-size: 14px;
  }
  .projects-grid-box {
    padding: 0.5rem 0.5rem;
  }
}

@media (width < 400px) {
  .grid-box-text-container {
    min-width: 5rem;
    width: auto;
    max-width: 220px;
  }
  .grid-box-image-container > a > img {
    height: 150px;
    width: 250px;
  }
  .grid-box-project-title {
    font-size: 20px;
  }
}